# basic ignores
.*
~*
*~
*.sublime-project
*.sublime-workspace
*.log

# build file ignores
*.html
*.css
*.js
*.map

# other ignores
node_modules/
vendor/
env.php
build/

# Do not ignore the following
!.gitignore
!sw.js