article {

	--max-width: 500px;

	margin-bottom: 50px;
	margin-top: 120px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	h1 {
		text-align: center;
		font-family: "Kanit", sans-serif;
		margin-bottom: 20px;
		max-width: var(--max-width);
		color: #102A43;
		width: 95%;
	}

	.small-data {

		max-width: var(--max-width);
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 95%;
		margin-bottom: 20px;

		span {

			font-size: 15px;
			color: #243B53;
			display: inline-flex;
			align-items: center;

			&::before {
				content: "";
				display: inline-block;
				height: 21px;
				width: 21px;
				background-size: 21px;
				background-position: center;
				background-repeat: no-repeat;
				margin-right: 3px;
			}

		}

		.date {

			&::before {
				background-image: url(/assets/calendar.svg);
			}

		}

		.person {

			&::before {
				background-image: url(/assets/person.svg);
			}

		}

	}

}
