a.button, button:not(.special) {
	height: 40px;
	padding: 0 20px;
	line-height: 1;
	transition: all 100ms;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	&:active {
		opacity: .8;
		transform: scale(.95);
	}
	&.red {
		background-color: var(--red-1);
		color: #fff;
	}
	&.ghost {
		border: 2px solid #000;
		&:hover {
			text-decoration: none;
			background-color: #000;
			color: #fff;
		}
	}
}
