a.button, button:not(.special) {
	height: 40px;
	padding: 0 20px;
	line-height: 1;
	transition: all 100ms;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	&:active {
		opacity: .8;
		transform: scale(.95);
	}
	&.red {
		background-color: var(--red-1);
		color: #fff;
	}
	&.light-blue {
		background-color: var(--gray-6);
		color: #fff;
	}
	&.small {
		height: 30px;
		padding: 0 15px;
		font-size: 14px;
	}
	&.ghost {
		border: 2px solid #000;
		&:hover {
			text-decoration: none;
			background-color: #000;
			color: #fff;
		}
	}
}
