:root {
	--main-green: #27AB83;
	--heading-color: #102A43;
	--text-color: #334E68;
	--gray-6: #627D98;
	--gray-5: #829AB1;
	--gray-4: #9FB3C8;
	--gray-3: #BCCCDC;
	--gray-2: #D9E2EC;
	--gray-1: #f0f4f8;
	--red-1: #D64545;
	--red-2: #A61B1B;
	--red-3: #780A0A;
	--yellow-1: #F7D070;
	--yellow-2: #C99A2E;
	--yellow-3: #7C5E10;
}