$header_height: 70px;

header {
	height: $header_height;
	-webkit-position: fixed;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	box-shadow: 1px 1px 28px rgba(0,0,0,0.3);
	z-index: 5;

	nav {
		margin-right: 40px;
	}

	a {
		margin-right: 10px;
		color: #000;
		transition: all 100ms;
		line-height: 1.25;
		font-size: 18px;

		&:hover {
			text-decoration: underline;
		}

	}

}

main {
	margin-top: $header_height;
}

.first-child {
	margin-top: 120px;
}
