header {
	height: 70px;
	-webkit-position: sticky;
	position: sticky;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	nav {
		margin-right: 40px;
	}

	a {
		margin-right: 10px;
		color: #000;
		transition: all 100ms;
		line-height: 1.25;
		font-size: 18px;

		&:hover {
			text-decoration: underline;
		}

	}

}
