.modal {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	transition: 200ms all;
	opacity: 0;
	visibility: hidden;
	padding-top: 100px;
	&.open {
		opacity: 1;
		visibility: visible;
	}
	.inner {
		background-color: #fff;
		border-radius: 12px;
		width: 95%;
		max-width: 500px;
		padding: 50px;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		position: relative;
		max-height: 95%;
		overflow-y: scroll;
		height: fit-content;
		button.close {
			background-repeat: no-repeat;
			background-size: 50px;
			background-image: url(/assets/close.svg);
			background-position: center;
			cursor: pointer;
			height: 50px;
			width: 50px;
			position: absolute;
			top: 10px;
			left: 10px;
			background-color: transparent;
			transition: 150ms all;
			&:active {
				opacity: .9;
				transform: scale(.9);
			}
		}
		img {
			height: 75px;
			width: auto;
			margin-bottom: 20px;
		}
		.name {
			font-size: 30px;
			margin-bottom: 10px;
			text-decoration: underline;
			color: var(--heading-color);
		}
		.undertext {
			font-size: 16px;
			margin-bottom: 20px;
			color: var(--gray-6);
		}
		ul {
			li {
				line-height: 20px;
				font-size: 16px;
				color: var(--text-color);
				margin-bottom: 10px;
				a {
					color: var(--heading-color);
					text-decoration: underline;
				}
			}
		}
	}
}

@media all and (max-width: 500px) {
	.modal {
		padding-top: 0;
		.inner {
			width: 100%;
			border-radius: 0;
			height: 100%;
			max-height: 100%;
		}
	}
}