#recipe-search {
	width: 1000px;
	height: 50px;
	border-radius: 4px;
	background-color: #fff;
	color: var(--text-color);
	text-indent: 45px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 10px;
	background-size: 25px;
	background-image: url(/assets/search-glass.svg);
	margin-bottom: 40px;
	font-size: 16px;
	-webkit-appearance: none;
	appearance: none;
	&:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
	}
	&::-webkit-search-cancel-button {
		display: none;
	}
}

#recipe-card-container {
	width: 95%;
	max-width: 1100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.recipe-blog-card {
	max-width: 500px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 95%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	.image {
		margin-bottom: 10px;
		width: 100%;
		img {
			width: 100%;
			height: auto;
			border-radius: 12px;
		}
	}
	.words {
		text-align: center;
		padding-left: 20px;
		width: 100%;
		h3 {
			color: var(--heading-color);
			font-size: 30px;
			margin-bottom: 10px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
			a {
				color: var(--heading-color);
				font-weight: 400;
			}
		}
		p {
			text-align: center;
			font-size: 17px;
			line-height: 1.5;
			max-width: 500px;
			width: 95%;
		}
	}
	&.hidden {
		display: none;
	}
	hr {
		display: none;
	}
}

.recipe-header {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-height: 500px;
	margin-top: 70px;
	height: 33vh;
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	h1 {
		color: #fff;
		font-size: clamp(25px, 6vw, 50px);
		margin-bottom: 20px;
	}
	.resize {
		display: none;
	}
}

.recipe-desktop {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	max-width: 1200px;
	margin: 50px auto;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	#desktop-steps, #desktop-ingredients {
		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		min-height: fit-content;
		padding: 50px;
		h2 {
			font-size: 30px;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	#desktop-ingredients {
		width: 40%;
		h3 {
			font-size: 25px;
			margin-bottom: 20px;
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
		.ingredient {
			margin-bottom: 20px;
		}
	}
	hr {
		margin-top: 50px;
		height: 500px;
		width: 2px;
		background-color: var(--gray-2);
	}
	#desktop-steps {
		width: 60%;
	}
	ol li {
		margin-bottom: 20px;
		font-size: 18px;
		&::marker {
			font-size: 25px;
		}
	}
	#desktop-recipe-ai-button {
		width: 65px;
		height: 65px;
		border-radius: 12px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		position: fixed;
		bottom: 20px;
		right: 20px;
		background-repeat: no-repeat;
		background-position-y: 11px;
		background-position-x: center;
		background-size: 40px;
		background-image: url(/assets/green-sparkle-icon.svg);
		border: 3px solid var(--main-green);
		cursor: pointer;
		transition: 150ms all;
		&:active {
			transform: scale(.95);
			opacity: .9;
		}
	}
}


.ingredient {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 10px;
	input[type=checkbox] {
		appearance: none;
		-webkit-appearance: none;
		height: 20px;
		width: 20px;
		min-width: 20px;
		border: 2px solid var(--gray-4);
		background: transparent;
		border-radius: 4px;
		margin-right: 10px;
		cursor: pointer;
		transition: 150ms all;
		&:checked {
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20px;
			background-image: url(/assets/checkmark.svg);
			+ span {
				text-decoration: line-through;
			}
		}
	}
	span {
		font-size: 16px;
		color: var(--text-color);
		transition: 150ms all;
	}
}

ol {
	list-style-position: inside;
	li {
		a {
			text-decoration: underline;
		}
		color: var(--text-color);
		&::marker {
			color: var(--heading-color);
			font-weight: 400;
		}
	}
}

.recipe-mobile {
	display: none;
	width: 100%;
	flex-flow: column nowrap;
	.tabs {
		width: 100%;
		height: 50px;
		display: flex;
		background-color: var(--gray-3);
		position: sticky;
		top: 70px;
		z-index: 50;
		.tab {
			width: 33.3%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			text-transform: uppercase;
			color: var(--heading-color);
			border-bottom: 2px solid var(--gray-3);
			transition: 150ms all;
			cursor: pointer;
			.tab-icon {
				height: 30px;
				width: auto;
			}
			&:nth-child(2) {
				border-right: 2px solid var(--gray-4);
				border-left: 2px solid var(--gray-4);
			}
			&.active {
				background-color: var(--gray-1);
				border-bottom: 4px solid var(--yellow-1);
			}
			&:active {
				background-color: var(--gray-2);
			}
		}
	}
	.mobile-recipe-body {
		width: 100%;
		display: none;
		flex-flow: column nowrap;
		min-height: 500px;
		height: fit-content;
		padding: 20px;
		&.special-bodies {
			h3 {
				font-size: 35px;
				margin-bottom: 20px;
				display: flex;
				img {
					height: 45px;
					width: auto;
				}
			}
			p {
				margin-bottom: 10px;
			}
		}
		form#own-api-key-form {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			width: 100%;
			button[type=submit] {
				margin-top: 10px;
				width: 95%;
				max-width: 300px;
			}
			&:invalid {
				button[type=submit] {
					opacity: .2;
					cursor: not-allowed;
					pointer-events: none;
				}
			}
		}
		#mobile-chat-message-container {
			position: absolute;
			top: 0;
			height: calc(100% - 95px);
			width: calc(100% - 40px);
			overflow-y: scroll;
			#mobile-chat-messages {
				&:empty + #mobile-chat-empty-state {
					display: flex;
				}
			}
			&:has(#mobile-chat-messages:empty) {
				overflow-y: hidden;
			}
			#mobile-chat-empty-state {
				display: none;
				flex-flow: column nowrap;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
			}
			#mobile-chat-messages {
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-end;
				padding: 20px;
				overflow-y: scroll;
				position: relative;
			}
		}
		form#recipe-ai-input-container {
			width: calc(100% - 40px);
			min-height: 55px;
			border-radius: 50px;
			background-color: var(--gray-2);
			padding: 10px 0;
			box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
			display: flex;
			justify-content: space-between;
			position: absolute;
			bottom: 30px;
			&:invalid {
				button {
					opacity: .2;
					cursor: not-allowed;
					pointer-events: none;
				}
			}
			textarea {
				width: calc(100% - 65px);
				background-color: var(--gray-2);
				padding-left: 25px;
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
				height: 40px;
				overflow-y: hidden;
				transition: 150ms all;
				font-size: 17px;
				&.reset {
					height: 40px;
				}
				&:focus {
					outline: none;
					&::placeholder {
						color: transparent;
					}
				}
			}
			#button-container {
				height: 100%;
				width: 55px;
				display: flex;
				justify-content: center;
				align-items: center;
				align-self: end;
				margin-bottom: 5px;
				margin-right: 5px;
				button {
					height: 30px;
					width: 30px;
					border-radius: 30px;
					background-color: #27AB83;
					background-position: center;
					background-size: 25px;
					background-repeat: no-repeat;
					background-image: url(/assets/arrow-up.svg);
					cursor: pointer;
					transition: 150ms all;
					&:disabled {
						opacity: .3;
						cursor: not-allowed;
						pointer-events: none;
					}
					&:active {
						transform: scale(.95);
						opacity: .9;
					}
				}
			}
		}
		ol li {
			margin-bottom: 10px;
			font-size: 16px;
			&::marker {
				font-size: 20px;
			}
		}
		&.active {
			display: flex;
		}
	}
	#mobile-ingredients {
		h3 {
			margin-bottom: 10px;
			color: var(--heading-color);
			font-size: 20px;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}
}
.loading-slide {
	height: 15px;
	width: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: 150ms all;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	&.visible {
		visibility: visible;
		opacity: 1;
		top: -20px;
		left: 10px;
	}
	p {
		margin-right: 10px;
		color: var(--gray-4);
		font-size: 14px;
	}
	img {
		height: 5px;
	}
}
.user-message {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: var(--gray-2);
	padding: 10px;
	color: var(--heading-color);
	max-width: 65%;
	width: fit-content;
	margin-bottom: 20px;
}
.assistant-message {
	align-self: flex-start;
	margin-bottom: 20px;
	color: var(--text-color);
	width: 80%;
	ul, ol {
		list-style-position: inside;
		font-size: 16px;
		li {
			font-size: 16px;
			margin-bottom: 10px;
			&::marker {
				font-size: 16px;
			}
		}
	}
	p {
		font-size: 16px;
		margin-bottom: 10px;
	}
	&::before {
		content: "Recipe AI";
		background-image: url(/assets/sparkle-icon.svg);
		background-repeat: no-repeat;
		background-size: 30px;
		display: flex;
		width: 100%;
		height: 30px;
		background-position-x: 75px;
		align-items: center;
		color: var(--heading-color);
		margin-bottom: 5px;
		font-family: "Kanit",sans-serif;
		font-weight: 400;
		font-size: 18px;
	}
}

@media all and (max-width: 767px) {
	.recipe-desktop {
		display: none;
	}
	.recipe-mobile {
		display: flex;
	}
}

@media all and (min-width: 767px) {
	.recipe-header {
		position: relative;
	}
	.resize {
		display: block !important;
		height: 10px;
		cursor: row-resize;
		width: 100%;
		position: absolute;
		bottom: 0;
	}
}

#desktop-ai-chatbot {
	width: 385px;
	position: fixed;
	bottom: 20px;
	left: calc(100% - 405px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	min-height: 500px;
	height: calc(100vh - 175px);
	&[open] {
		display: flex;
	}
	#desktop-chat-message-container {
		position: absolute;
		top: 70px;
		height: calc(100% - 190px);
		width: 100%;
		overflow-y: scroll;
		#desktop-chat-messages {
			display: flex;
			flex-flow: column nowrap;
			align-items: flex-end;
			padding: 20px;
			overflow-y: scroll;
			position: relative;
			&:empty {
				padding: 0;
				+ #desktop-chat-empty-state {
					display: flex;
				}
			}
		}
		&:has(#desktop-chat-messages:empty) {
			overflow-y: hidden;
		}
		#desktop-chat-empty-state {
			display: none;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			h3 {
				margin-bottom: 20px;
			}
			.suggested-questions {
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				width: 100%;
				button {
					height: 30px;
					border-radius: 50px;
					padding: 0 10px;
					background-color: transparent;
					border: 2px solid var(--text-color);
					cursor: pointer;
					width: fit-content;
					margin-bottom: 10px;
					transition: 150ms all;
					&:active {
						transform: scale(.98);
						opacity: .9;
					}
				}
			}
		}
	}
	.header {
		width: 100%;
		height: 70px;
		background-color: var(--gray-1);
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		box-shadow: 0 2px 1px -1px rgba(0,0,0,.1);
		.title-container {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			img {
				height: 55px;
				width: auto;
			}
			h3 {
				font-size: 30px;
				margin-left: 5px;
			}
		}
		.close {
			height: 40px;
			width: 40px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 35px;
			background-image: url(/assets/close.svg);
			transition: 150ms all;
			background-color: transparent;
			cursor: pointer;
			border-radius: 6px;
			resize: none;
			&:active {
				transform: scale(.98);
				opacity: .7;
			}
		}
	}
	form {
		width: 100%;
		height: 120px;
		background-color: var(--gray-1);
		border-bottom-left-radius: 12px;
		border-bottom-right-radius: 12px;
		padding: 20px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		--button-container-width: 65px;
		box-shadow: 0 -2px 1px -1px rgba(0, 0, 0, 0.1);
		position: relative;
		.loading-slide {
			left: 20px;
		}
		&:invalid {
			button[type=submit] {
				opacity: .2;
				cursor: not-allowed;
				pointer-events: none;
			}
		}
		textarea {
			height: 100%;
			border-radius: 12px;
			border: 1px solid var(--gray-4);
			font-size: 16px;
			color: var(--text-color);
			padding: 5px 10px;
			width: calc(100% - calc(var(--button-container-width) + 10px));
			resize: none;
			&.reset {
				height: 100%;
			}
			&::placeholder {
				color: var(--gray-4);
			}
			&:focus {
				border: 2px solid var(--main-green);
				outline: none;
				&::placeholder {
					color: transparent;
				}
			}
		}
		.button-container {
			height: 100%;
			width: var(--button-container-width);
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-items: center;
			button[type=submit] {
				height: 50px;
				width: 50px;
				border-radius: 50px;
				background-color: var(--main-green);
				background-repeat: no-repeat;
				background-size: 27px;
				background-position: center;
				background-image: url(/assets/send.svg);
				cursor: pointer;
				box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
				transition: 150ms all;
				transform: rotate(90deg);
				&:active {
					transform: scale(.95) rotate(90deg);
					opacity: .9;
				}
			}
		}
	}
}

@media all and (max-width: 1100px) {
	#recipe-search {
		max-width: 500px;
		width: 95%;
	}
	#recipe-card-container {
		flex-flow: column nowrap;
		align-items: center;
	}
	.recipe-blog-card {
		margin-right: 0;
		hr {
			width: 100%;
			margin: 0 auto;
			background-color: var(--gray-2);
			height: 2px;
			border-radius: 10px;
		}
	}
}
