#recipe-search {
	width: 1000px;
	height: 50px;
	border-radius: 4px;
	background-color: #fff;
	color: var(--text-color);
	text-indent: 45px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 10px;
	background-size: 25px;
	background-image: url(/assets/search-glass.svg);
	margin-bottom: 40px;
	font-size: 16px;
	-webkit-appearance: none;
	appearance: none;
	&:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
		&:-ms-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
	}
	&::-webkit-search-cancel-button {
		display: none;
	}
}

#recipe-card-container {
	width: 95%;
	max-width: 1100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.recipe-blog-card {
	max-width: 500px;
	margin-right: 20px;
	width: 95%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	.image {
		margin-bottom: 10px;
		img {
			width: 100%;
			height: auto;
			border-radius: 12px;
		}
	}
	.words {
		text-align: center;
		padding-left: 20px;
		h3 {
			color: var(--heading-color);
			font-size: 30px;
			margin-bottom: 10px;
			&:hover {
				text-decoration: underline;
			}
			a {
				color: var(--heading-color);
			}
		}
		p {
			text-align: center;
			font-size: 16px;
			line-height: 1.5;
			max-width: 500px;
			width: 95%;
		}
	}
	&.hidden {
		display: none;
	}
	hr {
		display: none;
	}
}

@media all and (max-width: 1100px) {
	#recipe-search {
		max-width: 500px;
		width: 95%;
	}
	#recipe-card-container {
		flex-flow: column nowrap;
		align-items: center;
	}
	.recipe-blog-card {
		margin-bottom: 20px;
		margin-right: 0;
		hr {
			width: 100%;
			margin: 0 auto;
			background-color: var(--gray-2);
			height: 2px;
			border-radius: 10px;
		}
	}
}