.hero {

	.content {
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		.words {
			max-width: 400px;
			width: 95%;
		}

		h1, h2, h3 {
			color: #102A43;
			text-align: left;
		}

		img {
			height: 300px;
			width: auto;
		}

	}

}

section {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;

	&.white {
		background-color: #fff;
	}

	.content {

		max-width: 850px;
		width: 95%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		h1 {
			font-size: 40px;
			color: #243B53;
			margin-bottom: 10px;
		}

		hr {
			max-width: 300px;
			width: 95%;
			height: 1px;
			background-color: #9FB3C8;
		}

		.tab-container {
			width: fit-content;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			height: fit-content;
			margin: 20px 0;
		
			.tab {
				height: 35px;
				border-radius: 20px;
				border: 1px solid #BCCCDC;
				color: #334E68;
				font-size: 16px;
				padding: 0 10px;
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				margin-right: 20px;
				cursor: pointer;
				background-color: transparent;
				transition: 100ms all;

				&:active {
					transform: scale(.99);
					border: 1px solid #9FB3C8;
					color: #243B53;
				}

				&.selected {
					background-color: #0c6b58;
					color: #fff;
				}

			}

		}

	}

}

.tile-container {

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;

	.tile {
		width: 250px;
		height: fit-content;
		min-height: 400px;
		background-color: transparent;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 20px;
		position: relative;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;

		img {
			width: auto;
			height: 100px;
			margin-bottom: 20px;

			&.invert {
				width: 100px;
				height: auto;
			}

		}

		h3 {
			color: #243B53;
			font-size: 22px;
			margin-bottom: 20px;
		}

		p {
			line-height: 25px;
			font-size: 16px;
			color: #486581;
			text-align: left;
			font-weight: 300;
			margin-bottom: 20px;
		}

		a.cta {
			width: 95%;
			height: 35px;
			border-radius: 6px;
			border: 1px solid #186FAF;
			color: #186FAF;
			font-size: 16px;
			background-color: transparent;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			position: absolute;
			bottom: 5px;
			transition: 100ms all;

			&:active, &:hover {
				background-color: #186FAF;
				color: #fff;
			}

		}

	}

}

@media all and (max-width: 812px) {

	.hero .content {

		flex-flow: column nowrap;
		align-items: center;

		h1, h2, h3 {
			text-align: center;
		}

		.words {
			margin-bottom: 50px;
		}

	}

}
