.hero {

	.content {

		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: flex-start;

		.words {

			max-width: 400px;
			width: 95%;

			h2 {
				line-height: 1.5;
			}

		}

		h1, h2, h3 {
			color: #102A43;
			text-align: left;
		}

		img {
			height: 300px;
			width: auto;
		}

	}

}

section {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;

	&.white {
		background-color: #fff;
	}

	&#about {

		.content {

			h1 {
				margin-bottom: 50px;
			}

		}

	}

	.content {

		max-width: 950px;
		width: 95%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		h1 {
			font-size: 50px;
			color: #243B53;
			margin-bottom: 10px;
		}

		hr {
			width: 100%;
			height: 1px;
			background-color: #9FB3C8;
		}

		p.explainer {
			font-size: 16px;
			text-align: center;
			line-height: 1.4;
			color: #243b53;
			font-weight: 300;
			margin-bottom: 20px;

			&.left {
				align-self: flex-start;
				text-align: left;
			}

		}

		.tab-container {

			width: fit-content;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;
			height: fit-content;
			margin: 20px 0;
		
			.tab {

				height: 35px;
				border-radius: 20px;
				border: 1px solid #BCCCDC;
				color: #334E68;
				font-size: 16px;
				padding: 0 10px;
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				margin-right: 20px;
				cursor: pointer;
				background-color: transparent;
				transition: 100ms all;

				&:hover {
					background-color: rgba(0,0,0,.03);
				}

				&:active {
					transform: scale(.97);
					border: 1px solid #9FB3C8;
					color: #243B53;
					background-color: rgba(12, 107, 88, .2);
				}

				&.selected {
					
					background-color: #0c6b58;
					color: #fff;

					&:active {
						background-color: rgba(12, 107, 88, .8);
					}

				}

			}

		}

	}

}

.tile-container {

	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 100%;

	.tile {

		width: 250px;
		height: fit-content;
		min-height: 400px;
		background-color: transparent;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 20px;
		position: relative;
		margin-bottom: 40px;
		margin-right: auto;
		margin-left: auto;

		img {
			width: auto;
			height: 100px;
			margin-bottom: 20px;

			&.invert {
				width: 100px;
				height: auto;
			}

		}

		h3 {
			color: #243B53;
			font-size: 22px;
			margin-bottom: 20px;
		}

		p {
			line-height: 25px;
			font-size: 16px;
			color: #334E68;
			text-align: left;
			font-weight: 300;
			margin-bottom: 20px;
		}

		a.cta {

			width: 95%;
			height: 35px;
			border-radius: 6px;
			border: 1px solid #186FAF;
			color: #186FAF;
			font-size: 16px;
			background-color: transparent;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			position: absolute;
			bottom: 5px;
			transition: 100ms all;

			&:active, &:hover {
				background-color: #186FAF;
				color: #fff;
			}

		}

	}

}

.section-flow {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.content-section {

	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin: 100px 0px;

	hr {
		display: none;
	}

	h3 {

		font-size: 35px;
		line-height: 1;
		align-self: flex-end;

		~ .date {
			font-size: 16px;
			color: #9FB3C8;
			align-self: flex-end;
			margin-bottom: 10px;
		}

		~ .position {
			font-size: 18px;
			color: #334E68;
			align-self: flex-end;
		}

	}

	&.switch {

		flex-flow: row-reverse nowrap;

		h3 {
			align-self: flex-start;
		}

		h3 ~ .date, h3 ~ .position {
			align-self: flex-start;
		}

		ul {

			align-self: flex-start;

			li {
				text-align: left;
			}

		}

	}

	.words {
		align-self: flex-start;
		display: flex;
		flex-flow: column nowrap;
		max-width: 300px;
	}

	img {
		max-height: 150px;
		width: auto;
	}

	ul {

		align-self: flex-end;

		li {
			list-style-type: none;
			text-align: right;
			color: #334E68;
			font-weight: 300;
			margin-bottom: 20px;
		}

	}

}

@media all and (max-width: 812px) {

	.hero .content {

		flex-flow: column nowrap;
		align-items: center;

		h1, h2, h3 {
			text-align: center;
		}

		.words {
			margin-bottom: 50px;
		}

	}

}

@media all and (max-width: 526px) {

	.tile-container {

		justify-content: center;

		.tile {

			min-height: fit-content;

			p {
				text-align: center;
			}

			a.cta {
				position: static;
			}

		}

	}

}
