.writing-tile-container {
	display: flex;
	flex-flow: row wrap;
	max-width: 420px;
	width: 95%;
	margin-top: 20px;
	.writing-tile {
		height: 200px;
		width: 200px;
		border-radius: 12px;
		border: 2px solid var(--gray-5);
		margin-bottom: 20px;
		cursor: pointer;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0;
		transition: 250ms all;
		&:hover {
			box-shadow: 0 0 4px var(--gray-6);
		}
		&:nth-child(odd) {
			margin-right: 20px;
		}
		h3 {
			color: var(--heading-color);
			font-size: 30px;
		}
		img {
			height: 75px;
			width: 75px;
		}
		&:active {
			transform: scale(.95);
		}
	}
}

hr {
	width: 50%;
	margin: 0 auto;
	background-color: var(--gray-2);
	height: 2px;
	border-radius: 10px;
}

.blog-card {
	max-width: 1100px;
	width: 95%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 20px 0;
	border-radius: 12px;
	.image {
		height: 100%;
		margin-bottom: 10px;
		img {
			width: 500px;
			height: auto;
			border-radius: 12px;
		}
	}
	h3:hover {
		text-decoration: underline;
	}
	.words {
		text-align: center;
		padding-left: 20px;
		h3 {
			color: var(--heading-color);
			font-size: 30px;
			margin-bottom: 10px;
			a {
				color: var(--heading-color);
			}
		}
		p {
			text-align: center;
			font-size: 16px;
			line-height: 1.5;
		}
	}
}

.blog-post {
	h1 {
		color: var(--heading-color);
	}
	figure {
		max-width: 95%;
		width: 600px;
		height: auto;
		figcaption {
			text-align: center;
		}
		img {
			border-radius: 4px;
		}
	}
}

@media all and (max-width: 500px) {
	.writing-tile-container {
		flex-flow: column nowrap;
		align-items: center;
		.writing-tile {
			&:nth-child(odd) {
				margin-right: 0;
			}
		}
	}
}